.jumbotron {
    color: #566469;
	padding-left: 20px;
}
h2 {
    font-size: 50px;
    font-weight: bold;
}

li {
	font-size: 25px;
	font-weight: bold;
}


#pie {
    width: 100%;
    height: 100%;
}

#bubble {
    text-align: center;
    width: 100%;
    height: 100%;
}